/* Styles applied only within the Gutenberg editor. */
.editor-styles-wrapper .tg-thumbs-gallery{outline:1px dashed rgba(0,0,0,.1);outline-offset:4px}
.editor-styles-wrapper .tg-thumbs-gallery{max-width:var(--tg-max-w,700px);width:100%;}
