// ========================================
// Typography Styles
// ========================================
//
// Custom typography settings and utility classes.
//


body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Text utilities
.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}
