/**
 * Timeline Block - Front-end Styles (Placeholder)
 *
 * Реальные продакшн стили находятся в src/scss/blocks/content/timeline.scss
 * и компилируются в main.css для поддержки HMR и оптимизации.
 *
 * Этот файл является заглушкой для WordPress-совместимости.
 */
