.bemazal-1v1{flex-direction:row-reverse;box-sizing:border-box;max-width:1170px;margin:0 auto;padding:0;display:flex;align-items:center;justify-content:space-between;gap:10px}
.bemazal-1v1>.col-8{flex:0 0 66.6667%}
.bemazal-1v1>.col-6{flex:0 0 50%;position:relative;z-index:2;margin-left:-30%}
.bemazal-1v1 .resp-img img{width:100%;height:auto;display:block}
.bemazal-1v1 .hs-description{background:#fff;padding:20px;box-shadow:0px 17px 35px rgba(74,74,115,0.1),0px 5px 15px rgba(0,0,0,0.07)}
.bemazal-1v1 h3{margin:0 0 10px 0;line-height:1.25;font-weight:400}
.bemazal-1v1 .size-15{font-size:15px;line-height:1.6}
.bemazal-1v1 .weight-400{font-weight:400}
.bemazal-1v1 .right-align{text-align:right}
.bemazal-1v1 .hs-button.is-outlined{position:relative}
.bemazal-1v1 .hs-button.ghost-dark{color:#000;border-color:#000;background:transparent}
.bemazal-1v1 .hs-button{display:inline-block;line-height:1;font-weight:400;color:#000;padding:15px 45px;text-decoration:none;border:2px solid transparent;background:transparent;transition:.3s}
.bemazal-1v1 .hs-button.is-outlined::after{content:"";position:absolute;top:-8px;left:5px;width:100%;height:100%;border:2px solid #000;transition:.2s ease-in-out}
.bemazal-1v1 .hs-button.ghost-dark:hover{color:#fff;background:#000;border-color:transparent}
@media (max-width:992px){.bemazal-1v1{flex-direction:column;gap:20px}.bemazal-1v1>.col-6,.bemazal-1v1>.col-8{flex:0 0 100%;margin-left:0}.bemazal-1v1 .right-align{text-align:inherit}}
